src/main/mule/implementations/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
		
	<flow 
		name="deleteFlow">
		
		<logger 
			level="INFO" 
			doc:name="start" 
			message="#[&quot;Delete customer customerId=&quot; ++ attributes.uriParams.'customerId']"/>
		
		<ee:transform 
			doc:name="get customerId" >
			<ee:variables >
				<ee:set-variable 
					variableName="customerId" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.'customerId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<salesforce:delete 
			doc:name="Delete" 
			config-ref="GlobalSalesforceConfig" >
			<salesforce:ids ><![CDATA[#[[vars.customerId]]]]></salesforce:ids>
		</salesforce:delete>
		
		<choice doc:name="Choice">
			<when expression="#[payload.successful]">
				<ee:transform doc:name="Success Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.customer-deleted}"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Response">
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.customer-doesnt-exist-relations}"
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
