src/main/mule/implementations/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow 
		name="deleteFlow" 
		doc:id="7eaec4ec-9f52-4a54-bc95-bef41836cdf1" >
		
		<logger 
			level="INFO" 
			doc:name="start" 
			doc:id="cf6d0c26-7435-4818-acb0-564c9c47d859" 
			message="#[&quot;Delete customer customerId=&quot; ++ attributes.uriParams.'customerId']"/>
		
		<ee:transform 
			doc:name="get customerId" 
			doc:id="503d81c8-6327-4f57-8f31-4d36389bf3e3" >
			<ee:variables >
				<ee:set-variable 
					variableName="customerId" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.'customerId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<salesforce:delete 
			doc:name="Delete" 
			doc:id="b2c142e9-2edd-4426-b12e-efa2c051689f" 
			config-ref="MicorpSalesforceConfig" >
			<salesforce:ids ><![CDATA[#[[vars.customerId]]]]></salesforce:ids>
		</salesforce:delete>
		
		<choice doc:name="Choice" doc:id="06eab0a5-3b0f-45ea-9c95-692e8a577009" >
			<when expression="#[payload.successful]">
				<ee:transform doc:name="Success Message" doc:id="a5079758-0a68-4fbc-aa18-fdbd88a584b7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.customer-deleted}"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Response" doc:id="c730e900-57ce-4e95-96b2-2473c7146ac1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.customer-doesnt-exist-relations}"
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		
		<error-handler 
			ref="global-error-handler" />
	</flow>
</mule>
