src/main/mule/implementations/post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
		
	<flow name="post:\customers" doc:id="5e50209b-6fe6-426c-91bb-9baa583c1b78" >
		
		<logger 
			level="INFO" 
			doc:name="Logger" 
			doc:id="5055cb99-70ec-4561-b533-b02c266cbc70" 
			message='#[%dw 2.0&#10;import * from dw::util::Values&#10;output application/json&#10;---&#10;{&#10;	message: "Create customer",&#10;    payload: payload&#10;		mask field("lastName") with "*****"&#10;		mask field("address") with "*****"&#10;		mask field("email") with "*****"  &#10;}]'/>
			
		<set-variable 
			value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "firstName": payload.firstName default "",&#10;    "lastName": payload.lastName default ""&#10;}]' 
			doc:name="otel Tags" 
			doc:id="ba6d8725-03f8-4f4d-bd1f-27555a1ae729" 
			variableName="openTelemetryTags" />
		<ee:transform doc:name="assign variables" doc:id="dca47b2e-aa99-4b85-b277-339edff10ea6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="location" ><![CDATA[attributes.requestUri ++ "/"]]></ee:set-variable>
				<ee:set-variable variableName="firstName" ><![CDATA[payload.firstName]]></ee:set-variable>
				<ee:set-variable variableName="lastName" ><![CDATA[payload.lastName]]></ee:set-variable>
				<ee:set-variable variableName="payloadBackup" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<flow-ref 
			doc:name="Get Customer By FirstName and LastName" 
			doc:id="8ba3ec0e-9ae2-466c-8f02-312a3f7fa482" 
			name="queryCustomer"/>
					
		<choice doc:name="Customer Exist?" doc:id="a134d639-64b2-4cd5-b442-b8637e28cfda" >
			<when expression="#[sizeOf(payload) == 0]">

				<flow-ref 
					doc:name="newCustomer" 
					doc:id="e782a283-ea63-43a5-adf5-9c15f7441690" 
					name="newCustomer"/>

			</when>
			
			<otherwise >
				<ee:transform doc:name="response" doc:id="935868dc-c58c-4195-8fcc-a192f39dc9ec" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.customer-exists}"
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[409]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler" />		
		
	</flow>
	
	
	
	<sub-flow name="newCustomer" doc:id="d1e0c440-2c3a-4fbb-8ec1-66ecd9928fb5">
		<logger 
			level="INFO" 
			doc:name="Logger" 
			doc:id="7ec36c22-4cfc-4b54-bc92-c30e70c5cf75" 
			message="Customer doesn't exist"/>
		<ee:transform 
			doc:name="Insert Payload"
			doc:id="ef364c21-ab4a-4554-a080-0512911d68d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	vars.payloadBackup mapObject ((value, key, index) -> 
        ((key as String) ++ "__c") : value
    )
]]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger 
			level="INFO" 
			doc:name="Logger" 
			doc:id="d3795ee7-dc66-4f97-9e6f-945d1570ca3a" 
			message="#[payload]"/>
		<salesforce:create type="Customer__c" doc:name="Create Customer" doc:id="7d728d25-59ed-4b19-b0f3-35453d7083bf" config-ref="MicorpSalesforceConfig"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="87545764-12a1-4bf1-a13b-76daacfdfe41" message="#[payload]"/>
		<choice doc:name="verify success" doc:id="6cba7c6b-f46d-4de0-aef1-4cec4a3a95f2" >
			<when expression="#[payload.successful == true]">
				<ee:transform doc:name="headers and response" doc:id="5689e307-3fb5-4340-b876-f99c2b52debb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer created successfully"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{"Location": 
	( (vars.location as String)
		++ (payload.items[0].id as String)
	)
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Status 500 Response" doc:id="6be99e5d-c1bc-4a68-b70d-476b73fcae35" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.customer-error}"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA["500"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>

</mule>
